* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

.title-menu {
    background-color: #302e2b;
    height: 750px;
}

.title-menu .title-img-logo img{
    display: block;
    margin: 0 auto;
}

.title-menu .title-menu-left {
    transform: rotate(12deg);
}

.title-menu .title-menu-right {
    transform: rotate(-12deg);
}

.title-menu ul {
    margin-top: -25px;
}

.title-menu ul li {
    padding: 0 10px 0 10px;
}

.title-menu ul li a {
    font-family: "Dancing Script", serif;
    font-size: 40px;
    color: #ff7aac;
    text-decoration: none;
}

