* {
    margin: 0;
    padding: 0;
}

.top-menu {
    padding: 15px 0px 0px 0px;
    background-color: #ff7bac;
    box-shadow: 0 0 20px #888888;
}

.top-menu h1 {
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.top-menu .top-right-menu li svg {
    font-size: 24px;
    color: #fff;
}

.top-menu .top-right-menu li a{
    font-size: 17px;
    padding: 0 8px 0 8px;
    text-decoration: none;
    color: #fff;
}